---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <div id="profilepic"> <img src="/images/profile.svg"></div>
  <div class="aboutUser">
    <h1 class="username">Lucky Daei</h1>
    <h2 class="userTitle">Software Developer</h2>
    <p class="userBio">Aspiring software developer with over 5 years experiences. Looking to enhance my technical skills in HTML CSS , and Javascript</p>
    <p class="userBio">Connect with me via my social profiles below!</p>
    <div id="icons">
      <ul class="social-icons">
        <li><a href="https://discord.com/"><img src="/images/discord.svg"></a></li>
        <li><a href="https://github.com/"><img src="/images/github.svg"></a></li>
        <li><a href="https://www.linkedin.com/"><img src="/images/linkedin.svg"></a></li>
      </ul> </div>

  </div>

</body>
</html>

