#profilepic {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profilepic img {
  width: 100px;
  height: 100px;
  margin-top: 5%;
}

#icons img {
  width: 50px;
  height: 50px;
}

body {
  background-color: rgb(189, 176, 160);
}
.username {
  justify-content: center;
  align-items: center;
}

.userTitle,
.username,
.userBio,
.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.social-icons li {
  padding: 0 20px;
}
